.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url(https://i.pinimg.com/1200x/2b/5f/43/2b5f43b39083af8dffc4b6f0dcebc4c8.jpg);
    height: 100vh;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    margin-left: 10rem;
    max-width: 35%;
    color: white;
}

.hero-content h1 {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
}

.hero-content p {
    font-size: 1.5rem;
    font-family: Georgia;
}

.about-deskripsi h1 {
    color: white;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
}

.about-deskripsi p {
    color: white;
    font-size: 1.5rem;
    font-family: Georgia;
}

.about {
    padding: 80px 50px;
    background: rgb(43, 37, 33);
    background-size: cover; 
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.abut-container {
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-img img {
    border-radius: 15px;
    max-width: 550px;
    max-height: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.login-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(102, 23, 23, 0.881);
}

.card{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-height: 70vh;
}

.container-regis{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.regis-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px; 
}

.card-container {
    display: flex;
    align-items: center; /*tengah vertikal*/
    justify-content: center; /*tengah horizontal*/
    min-height: 100vh;
    background: rgb(81, 66, 57);
    max-width: 100%;
}

.card {
    padding: 10px;
    width: 500px;
    height: 300px;
}

